{% extends 'work_app/freelance_base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="freelance-container">
        <div class="hero-section">
            <div class="hero-overlay">
                <div class="hero-content">
                    <h1>Transforming Ideas into Powerful Digital Solutions.</h1>
                    <p>I'm a passionate freelance developer helping startups, creators, and businesses build fast, responsive, and scalable websites & applications.</p>
                    <div class="hero-buttons">
                        <a href="#" class="filled-btn">Let's Work Together</a>
                        <a href="#" class="filled-btn">See Previous Works</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="stats-section">
            <div class="stats-container">
                <div class="stat-card">
                    <h2>50+</h2>
                    <p>Projects Completed</p>
                </div>
                <div class="stat-card">
                    <h2>3+ Years</h2>
                    <p>Experience</p>
                </div>
                <div class="stat-card">
                    <h2>20+</h2>
                    <p>Clients Served</p>
                </div>
                <div class="stat-card">
                    <h2>100%</h2>
                    <p>Satisfaction Rate</p>
                </div>
            </div>
        </section>
    </div>

    <div class="freelance-container">
        <div class="freelance-header">
            <div class="freelance-head">
                <p>SERVICES I OFFER</p>
                <h2>I Provide Best Services For Our Customers Based On Their Needs</h2>
            </div>
        </div>
        <div class="cards-container">
            <div class="service-card card">
                <img src="../../static/images/pen.png" alt="Avatar">
                <h2>Web-App Development</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, consectetur quod? Repudiandae dolores labore vel aspernatur officia voluptate debitis omnis reiciendis saepe, dolorum dolore aliquid. Repellendus vel quasi itaque aliquid.</p>
            </div>
    
            <div class="service-card card">
                <img src="../../static/images/pen.png" alt="Avatar">
                <h2>Graphics and Editing</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, consectetur quod? Repudiandae dolores labore vel aspernatur officia voluptate debitis omnis reiciendis saepe, dolorum dolore aliquid. Repellendus vel quasi itaque aliquid.</p>
            </div>
    
            <div class="service-card card">
                <img src="../../static/images/pen.png" alt="Avatar">
                <h2>UI and UX Designing</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, consectetur quod? Repudiandae dolores labore vel aspernatur officia voluptate debitis omnis reiciendis saepe, dolorum dolore aliquid. Repellendus vel quasi itaque aliquid.</p>
            </div>
    
        </div>
    </div>

    <div class="freelance-container">
        <div class="freelance-header">
            <div class="freelance-head">
                <p>SERVICES I OFFER</p>
                <h2>I Provide Best Services For Our Customers Based On Their Needs</h2>
            </div>
        </div>
        <div class="cards-container">
            <div class="project-card card">
                <div class="project-image">
                    <img src="../../static/images/Project 1.jpg" alt="">
                </div>
                <div class="project-content">
                    <div class="teg">
                        <i class="fa-regular fa-calendar"></i>
                        <p>Completion : <span> 24 December 2020</span></p>
                    </div>
                    <h2>Modern Landing Page E-comm Project using Python-Django</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam culpa pariatur tempora provident molestias, suscipit necessitatibus, autem velit, sapiente nisi atque officiis sequi iure praesentium accusamus.</p>
                    <div class="skills">
                        <p>Skills Used : </p>
                        <span class="teg">HMTL</span>
                        <span class="teg">CSS</span>
                        <span class="teg">JavaScript</span>
                        <span class="teg">Python</span>
                        <span class="teg">Django</span>
                        <span class="teg">RestAPI</span>
                    </div>
                    <div class="project-links">
                        <button class="outline-btn">Github</button>
                        <button class="outline-btn">Documentation</button>
                    </div>
                </div>
            </div>
    
            <div class="project-card card">
                <div class="project-image">
                    <img src="../../static/images/Project 1.jpg" alt="">
                </div>
                <div class="project-content">
                    <div class="teg">
                        <i class="fa-regular fa-calendar"></i>
                        <p>Completion : <span> 24 December 2020</span></p>
                    </div>
                    <h2>Modern Landing Page E-comm Project using Python-Django</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam culpa pariatur tempora provident molestias, suscipit necessitatibus, autem velit, sapiente nisi atque officiis sequi iure praesentium accusamus.</p>
                    <div class="skills">
                        <p>Skills Used : </p>
                        <span class="teg">HMTL</span>
                        <span class="teg">CSS</span>
                        <span class="teg">JavaScript</span>
                        <span class="teg">Python</span>
                        <span class="teg">Django</span>
                        <span class="teg">RestAPI</span>
                    </div>
                    <div class="project-links">
                        <button class="outline-btn">Github</button>
                        <button class="outline-btn">Documentation</button>
                    </div>
                </div>
            </div>
    
            <div class="project-card card">
                <div class="project-image">
                    <img src="../../static/images/Project 1.jpg" alt="">
                </div>
                <div class="project-content">
                    <div class="teg">
                        <i class="fa-regular fa-calendar"></i>
                        <p>Completion : <span> 24 December 2020</span></p>
                    </div>
                    <h2>Modern Landing Page E-comm Project using Python-Django</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam culpa pariatur tempora provident molestias, suscipit necessitatibus, autem velit, sapiente nisi atque officiis sequi iure praesentium accusamus.</p>
                    <div class="skills">
                        <p>Skills Used : </p>
                        <span class="teg">HMTL</span>
                        <span class="teg">CSS</span>
                        <span class="teg">JavaScript</span>
                        <span class="teg">Python</span>
                        <span class="teg">Django</span>
                        <span class="teg">RestAPI</span>
                    </div>
                    <div class="project-links">
                        <button class="outline-btn">Github</button>
                        <button class="outline-btn">Documentation</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="freelance-container">
        <div class="freelance-header">
            <div class="freelance-head">
                <p>SERVICES I OFFER</p>
                <h2>I Provide Best Services For Our Customers Based On Their Needs</h2>
            </div>
        </div>
        <div class="cards-container">
            <div class="testimonial-card card">
                <div class="testimonial-header">
                    <img src="https://i.pravatar.cc/100?img=12" alt="User Avatar">
                    <div class="testimonial-user">
                        <h4>Priya Mehta</h4>
                        <p>Startup Founder</p>
                    </div>
                </div>
                <div class="testimonial-body">
                    <p>Working with you has been an incredible experience. The communication, design quality, and final delivery exceeded all my expectations. Highly recommend!</p>
                </div>
            </div>

            <div class="testimonial-card card">
                <div class="testimonial-header">
                    <img src="https://i.pravatar.cc/100?img=12" alt="User Avatar">
                    <div class="testimonial-user">
                        <h4>Priya Mehta</h4>
                        <p>Startup Founder</p>
                    </div>
                </div>
                <div class="testimonial-body">
                    <p>Working with you has been an incredible experience. The communication, design quality, and final delivery exceeded all my expectations. Highly recommend!</p>
                </div>
            </div>

            <div class="testimonial-card card">
                <div class="testimonial-header">
                    <img src="https://i.pravatar.cc/100?img=12" alt="User Avatar">
                    <div class="testimonial-user">
                        <h4>Priya Mehta</h4>
                        <p>Startup Founder</p>
                    </div>
                </div>
                <div class="testimonial-body">
                    <p>Working with you has been an incredible experience. The communication, design quality, and final delivery exceeded all my expectations. Highly recommend!</p>
                </div>
            </div>
                
        </div>
    </div>

    <div class="freelance-container">
        <div class="freelance-header">
            <div class="freelance-head">
                <p>SERVICES I OFFER</p>
                <h2>I Provide Best Services For Our Customers Based On Their Needs</h2>
            </div>
        </div>
        <div class="cards-container">
            <div class="faq-card">
                <div class="question">
                    <h2>What is the purpose of this application?</h2>
                </div>
                <div class="answer">
                    <p>This application is designed to help users manage their tasks efficiently and effectively.</p>
                </div>
            </div>
            <div class="faq-card">
                <div class="question">
                    <h2>What is the purpose of this application?</h2>
                </div>
                <div class="answer">
                    <p>This application is designed to help users manage their tasks efficiently and effectively.</p>
                </div>
            </div>
            <div class="faq-card">
                <div class="question">
                    <h2>What is the purpose of this application?</h2>
                </div>
                <div class="answer">
                    <p>This application is designed to help users manage their tasks efficiently and effectively.</p>
                </div>
            </div>

            <div class="faq-card">
                <div class="question">
                    <h2>What is the purpose of this application?</h2>
                </div>
                <div class="answer">
                    <p>This application is designed to help users manage their tasks efficiently and effectively.</p>
                </div>
            </div>
            <div class="faq-card">
                <div class="question">
                    <h2>What is the purpose of this application?</h2>
                </div>
                <div class="answer">
                    <p>This application is designed to help users manage their tasks efficiently and effectively.</p>
                </div>
            </div>
            <div class="faq-card">
                <div class="question">
                    <h2>What is the purpose of this application?</h2>
                </div>
                <div class="answer">
                    <p>This application is designed to help users manage their tasks efficiently and effectively.</p>
                </div>
            </div>
        </div>
    </div>    

    <div class="freelance-container">
        <div class="freelance-header">
            <div class="freelance-head">
                <p>SERVICES I OFFER</p>
                <h2>I Provide Best Services For Our Customers Based On Their Needs</h2>
            </div>
        </div>
        <section class="contact-section">
            <div class="contact-container">
                <div class="contact-info">
                    <h2>Hire Me or Get in Touch</h2>
                    <p>Let’s build something amazing together. Feel free to drop a message or book a time that works for you.</p>
                    <a href="https://calendly.com/yourname" class="booking-link" target="_blank">📅 Check My Availability</a>
                    <img src="../../local_static/images/Email campaign-pana.svg" alt="">
                </div>
            
                <form class="contact-form">
                    <input type="text" placeholder="Your Name" required>
                    <input type="email" placeholder="Your Email" required>
                    <select name="" id="">
                        <option value="">Select Service</option>
                        <option value="">Web Development</option>
                        <option value="">UI/UX Design</option>
                        <option value="">Graphics Design</option>
                        <option value="">Content Writing</option>
                    </select>
                    <textarea rows="12" placeholder="Your Message" required></textarea>
                    <button type="submit">Send Message</button>
                </form>
            </div>
        </section>
    </div>
{% endblock %}