{% extends 'app_portfolio/base.html' %}
{% load static %}
{% block title %}Experiences{% endblock %}
{% block content %}
    <!--Cards Header-->
    <div class="cards-header">
        <h1>All Experiences</h1>
        <div class="search-bar">
            <input type="text" placeholder="Search Your Content">
            <button><img src="../../static/images/search.png" alt="searchicon"></button>
        </div>
        <div class="cards-sorting">
            <div class="cards-categories">
                <span class="category active" onclick="toggleCategory(this)">All Blogs</span>
                <span class="category" onclick="toggleCategory(this)">Tech Blogs</span>
                <span class="category" onclick="toggleCategory(this)">Job Blogs</span>
                <span class="category" onclick="toggleCategory(this)">Education</span>
                <span class="category" onclick="toggleCategory(this)">Smartphones</span>
                <span class="category" onclick="toggleCategory(this)">Vehicles</span>
                <span class="category" onclick="toggleCategory(this)">AI Blogs</span>
                <span class="category" onclick="toggleCategory(this)">Health Blogs</span>
                <span class="category" onclick="toggleCategory(this)">Food Blogs</span>
                <span class="category" onclick="toggleCategory(this)">Travel Blogs</span>
                <span class="category" onclick="toggleCategory(this)">Fashion Blogs</span>
                <span class="category" onclick="toggleCategory(this)">Sports Blogs</span>
                <span class="category" onclick="toggleCategory(this)">Entertainment Blogs</span>
            </div>
            <div class="cards-sort">
                <button class="view-btn" id="sort-button" onclick="toggleDropdown()">Sort Blogs</button>
                <div class="sort-items" id="sort-items">
                    <ul>
                        <li onclick="changeSortOption(this)">Latest Blogs</li>
                        <li onclick="changeSortOption(this)">Oldest Blogs</li>
                        <li onclick="changeSortOption(this)">Most Liked Blogs</li>
                        <li onclick="changeSortOption(this)">Least Liked Blogs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--Experience Contianer-->
    <div class="cards-container">
        <div class="exp-card">
            <div class="top-content">
                <div class="exp-img">
                    <img src="../../static/images/expi1.png" alt="">
                </div>                    <h2>Sr. Software Engineer</h2>
                <div class="date">
                    <p>20th March 2019</p>
                    <p>30th September 2021</p>
                </div>
            </div>
            <div class="exp-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non vero unde autem? Cum quo odio veritatis rem vero, repudiandae eum possimus ex quam excepturi eaque deleniti. Natus voluptatem animi quos enim nisi aut magnam, consequatur facilis iste accusamus incidunt dolores vitae ut amet consectetur mollitia sint! Dolore dicta ratione sapiente.</p>
            </div>
        </div>

        <div class="exp-card">
            <div class="top-content">
                <div class="exp-img">
                    <img src="../../static/images/expi2.png" alt="">
                </div>                    <h2>Sr. Software Engineer</h2>
                <div class="date">
                    <p>20th March 2019</p>
                    <p>30th September 2021</p>
                </div>
            </div>
            <div class="exp-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non vero unde autem? Cum quo odio veritatis rem vero, repudiandae eum possimus ex quam excepturi eaque deleniti. Natus voluptatem animi quos enim nisi aut magnam, consequatur facilis iste accusamus incidunt dolores vitae ut amet consectetur mollitia sint! Dolore dicta ratione sapiente.</p>
            </div>
        </div>

        <div class="exp-card">
            <div class="top-content">
                <div class="exp-img">
                    <img src="../../static/images/expi3.png" alt="">
                </div>
                <h2>Sr. Software Engineer</h2>
                <div class="date">
                    <p>20th March 2019</p>
                    <p>30th September 2021</p>
                </div>
            </div>
            <div class="exp-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non vero unde autem? Cum quo odio veritatis rem vero, repudiandae eum possimus ex quam excepturi eaque deleniti. Natus voluptatem animi quos enim nisi aut magnam, consequatur facilis iste accusamus incidunt dolores vitae ut amet consectetur mollitia sint! Dolore dicta ratione sapiente.</p>
            </div>
        </div>
    </div>
{% endblock %}
