{% extends 'app_portfolio/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="experiences-container">
        <div class="experience-detail-card">
            <div class="experience-header">
                <p class="experience-meg">Current Status : <span> Left</span></p>
                <p class="experience-meg">Starting Date : <span> Jan 23, 2025</span></p>
                <p class="experience-meg">Ending Date : <span> Jan 54, 3035</span></p>
            </div>
            <h1 class="experience-title">Full Stack Developer <span>(Google)</span></h1>
            <p class="experience-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt voluptas laboriosam qui nemo numquam voluptate.</p>
            <div class="experience-tags">
                <span class="experience-tag">Some of the Moments from this Experience</span>
            </div>

            <div class="hero-image-slider">
                <div class="slider">
                    <div class="slide"><img src="../../static/images/experience 1.png" alt="experience Image"></div>
                    <div class="slide"><img src="../../static/images/experience 2.png" alt="experience Image"></div>
                    <div class="slide"><img src="../../static/images/experience 3.png" alt="experience Image"></div>
                </div>
            
                <!-- Navigation Buttons (Images Kept) -->
                <button class="prev">
                    <img src="{% static 'images/back.png' %}" alt="Previous">
                </button>
                <button class="next">
                    <img src="{% static 'images/next.png' %}" alt="Next">
                </button>
            </div>
            
            <div class="experience-skills">
                <h1>Skills Used</h1>
                <div class="experience-skills-list">
                    <span class="experience-skill"><img src="../../static/images/javascript.png" alt="">HTML</span>
                    <span class="experience-skill"><img src="../../static/images/css.png" alt="">CSS</span>
                    <span class="experience-skill"><img src="../../static/images/jquery.png" alt="">JavaScript</span>
                    <span class="experience-skill"><img src="../../static/images/react.png" alt="">React</span>
                    <span class="experience-skill"><img src="../../static/images/nodejs.png" alt="">Node.js</span>
                    <span class="experience-skill"><img src="../../static/images/python (1).png" alt="">Python</span>
                    <span class="experience-skill"><img src="../../static/images/sql.png" alt="">Django</span>
                    <span class="experience-skill"><img src="../../static/images/typescript.png" alt="">Flask</span>
                    <span class="experience-skill"><img src="../../static/images/mongo-db.png" alt="">Machine Learning</span>
                </div>
            </div>

            <div class="experience-features">
                <div class="heading">
                    <h1>My Contributions</h1>
                </div>
                <ul class="features-list">
                    <li class="feature-card">
                        <img src="../../static/images/projects.gif" alt="">
                        <div class="feature-content">
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, asperiores?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam autem unde doloremque, reprehenderit incidunt minima, repudiandae iure dignissimos officia repellat eveniet ad vero blanditiis corrupti.</p>
                        </div>
                    </li>
                    <li class="feature-card">
                        <img src="../../static/images/projects.gif" alt="">
                        <div class="feature-content">
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, asperiores?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam autem unde doloremque, reprehenderit incidunt minima, repudiandae iure dignissimos officia repellat eveniet ad vero blanditiis corrupti.</p>
                        </div>
                    </li>
                    <li class="feature-card">
                        <img src="../../static/images/projects.gif" alt="">
                        <div class="feature-content">
                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, asperiores?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam autem unde doloremque, reprehenderit incidunt minima, repudiandae iure dignissimos officia repellat eveniet ad vero blanditiis corrupti.</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="experience-content-detailed">
                <h1>Welcome to My experience</h1>
                <p>This is a sample experience post to test the CSS styling for different elements like headings, text, images, videos, tables, and more.</p>

                <h2>Introduction</h2>
                <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. Duis vehicula ex at lorem egestas, sed gravida ex facilisis.</p>

                <h3>Embedded Image</h3>
                <img src="../../static/images/Ariba Agrifarm.jpg" alt="Sample Image">

                <h3>Video Embed</h3>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/BCWItl_WtWs?si=qYP64MoYnTKTJDjG" allowfullscreen></iframe>
                </div>

                <h3>Blockquote Example</h3>
                <blockquote>
                    "This is an example of a blockquote. It should stand out from the rest of the text."
                </blockquote>

                <h3>Unordered List</h3>
                <ul>
                    <li>Responsive design</li>
                    <li>Mobile-friendly layout</li>
                    <li>Improved typography</li>
                </ul>

                <h3>Ordered List</h3>
                <ol>
                    <li>Install TinyMCE</li>
                    <li>Customize styles</li>
                    <li>Test on different devices</li>
                </ol>

                <h3>Table Example</h3>
                <table>
                    <tr>
                        <th>Feature</th>
                        <th>Details</th>
                    </tr>
                    <tr>
                        <td>Heading Colors</td>
                        <td>Customizable with CSS</td>
                    </tr>
                    <tr>
                        <td>Mobile Support</td>
                        <td>Fully Responsive</td>
                    </tr>
                </table>

                <h3>Code Block</h3>
                <pre>
                    <code>
                        def hello_world():
                            print("Hello, World!")
                    </code>
                </pre>

                <h3>Horizontal Rule</h3>
                <hr>

                <h3>Conclusion</h3>
                <p>This concludes our test experience. If everything is styled correctly, this page should look visually appealing and mobile-friendly.</p>
            </div>
        </div>
        <div class="experience-side-card">
            <div class="experience-side-card1">
                <img src="{% static 'images/Profile Pic 4.jpg' %}" alt="">
                <h1><span></span> Roshan Damor</h1>
            </div>
            <div class="experience-side-card1">
                <h1 class="experience-side-title">Latest experiences</h1>
                <div class="latest-experiences">
                    <div class="latest-experience">
                        <h2>01</h2>
                        <h1 class="experience-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, asperiores.</h1>
                    </div>
                    <div class="latest-experience">
                        <h2>02</h2>
                        <h1 class="experience-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, asperiores.</h1>
                    </div>
                    <div class="latest-experience">
                        <h2>03</h2>
                        <h1 class="experience-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, asperiores.</h1>
                    </div>
                    <div class="latest-experience">
                        <h2>04</h2>
                        <h1 class="experience-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, asperiores.</h1>
                    </div>
                    <div class="latest-experience">
                        <h2>05</h2>
                        <h1 class="experience-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, asperiores.</h1>
                    </div>
                </div>
            </div>

            <div class="experience-side-card1">
                <h1 class="experience-side-title">Popular experiences</h1>
                <div class="latest-experiences">
                    <div class="latest-experience">
                        <h2>01</h2>
                        <h1 class="experience-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, asperiores.</h1>
                    </div>
                    <div class="latest-experience">
                        <h2>02</h2>
                        <h1 class="experience-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, asperiores.</h1>
                    </div>
                    <div class="latest-experience">
                        <h2>03</h2>
                        <h1 class="experience-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, asperiores.</h1>
                    </div>
                    <div class="latest-experience">
                        <h2>04</h2>
                        <h1 class="experience-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, asperiores.</h1>
                    </div>
                    <div class="latest-experience">
                        <h2>05</h2>
                        <h1 class="experience-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, asperiores.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}