<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Agu+Display&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/projects_list.css">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <!--Cards Header-->
        <div class="cards-header">
            <h1>All Projects</h1>
            <div class="search-bar">
                <input type="text" placeholder="Search Your Content">
                <button><img src="../../static/images/search.png" alt="searchicon"></button>
            </div>
            <div class="cards-sorting">
                <div class="cards-categories">
                    <span class="category active" onclick="toggleCategory(this)">All Blogs</span>
                    <span class="category" onclick="toggleCategory(this)">Tech Blogs</span>
                    <span class="category" onclick="toggleCategory(this)">Job Blogs</span>
                    <span class="category" onclick="toggleCategory(this)">Education</span>
                    <span class="category" onclick="toggleCategory(this)">Smartphones</span>
                    <span class="category" onclick="toggleCategory(this)">Vehicles</span>
                    <span class="category" onclick="toggleCategory(this)">AI Blogs</span>
                    <span class="category" onclick="toggleCategory(this)">Health Blogs</span>
                    <span class="category" onclick="toggleCategory(this)">Food Blogs</span>
                    <span class="category" onclick="toggleCategory(this)">Travel Blogs</span>
                    <span class="category" onclick="toggleCategory(this)">Fashion Blogs</span>
                    <span class="category" onclick="toggleCategory(this)">Sports Blogs</span>
                    <span class="category" onclick="toggleCategory(this)">Entertainment Blogs</span>
                </div>
                <div class="cards-sort">
                    <button class="view-btn" id="sort-button" onclick="toggleDropdown()">Sort Projects</button>
                    <div class="sort-items" id="sort-items">
                        <ul>
                            <li onclick="changeSortOption(this)">Latest Projects</li>
                            <li onclick="changeSortOption(this)">Oldest Projects</li>
                            <li onclick="changeSortOption(this)">Most Liked Blogs</li>
                            <li onclick="changeSortOption(this)">Least Liked Blogs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cards-container">
            <div class="project-card">
                <div class="project-image">
                    <img src="../../static/images/Project 1.jpg" alt="">
                </div>
                <div class="project-content">
                    <div class="date">
                        <img src="../../static/images/menu.png" alt="">
                        <p>Completion : <span> 24 December 2020</span></p>
                    </div>
                    <h2>Modern Landing Page E-comm Project using Python-Django</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam culpa pariatur tempora provident molestias, suscipit necessitatibus, autem velit, sapiente nisi atque officiis sequi iure praesentium accusamus. Tempora blanditiis neque pariatur repellendus, vero dolorum. Amet, similique! Reprehenderit consectetur enim officiis inventore eos ipsam! Tenetur quaerat beatae natus provident assumenda quia.</p>
                    <div class="skills">
                        <p>Skills Used : </p>
                        <span>HMTL</span>
                        <span>CSS</span>
                        <span>JavaScript</span>
                        <span>Python</span>
                        <span>Django</span>
                        <span>RestAPI</span>
                    </div>
                    <div class="project-links">
                        <button class="download-btn">CODE</button>
                        <button class="download-btn">PREVIEW</button>
                        <button class="download-btn">DOCUMENTATION</button>
                    </div>
                </div>
            </div>
    
            <div class="project-card">
                <div class="project-image">
                    <img src="../../static/images/Project 2.jpg" alt="">
                </div>
                <div class="project-content">
                    <div class="date">
                        <img src="../../static/images/menu.png" alt="">
                        <p>Completion : <span> 24 December 2020</span></p>
                    </div>
                    <h2>Modern Landing Page E-commerce Project using Python-Django</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam culpa pariatur tempora provident molestias, suscipit necessitatibus, autem velit, sapiente nisi atque officiis sequi iure praesentium accusamus. Tempora blanditiis neque pariatur repellendus, vero dolorum. Amet, similique! Reprehenderit consectetur enim officiis inventore eos ipsam! Tenetur quaerat beatae natus provident assumenda quia.</p>
                    <div class="skills">
                        <p>Skills Used : </p>
                        <span>HMTL</span>
                        <span>CSS</span>
                        <span>JavaScript</span>
                        <span>Python</span>
                        <span>Django</span>
                        <span>RestAPI</span>
                    </div>
                    <div class="project-links">
                        <button class="download-btn">CODE</button>
                        <button class="download-btn">PREVIEW</button>
                        <button class="download-btn">DOCUMENTATION</button>
                    </div>
                </div>
            </div>
    
            <div class="project-card">
                <div class="project-image">
                    <img src="../../static/images/Project 3.jpg" alt="">
                </div>
                <div class="project-content">
                    <div class="date">
                        <img src="../../static/images/menu.png" alt="">
                        <p>Completion : <span> 24 December 2020</span></p>
                    </div>
                    <h2>Modern Landing Page E-commerce Project using Python-Django</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam culpa pariatur tempora provident molestias, suscipit necessitatibus, autem velit, sapiente nisi atque officiis sequi iure praesentium accusamus. Tempora blanditiis neque pariatur repellendus, vero dolorum. Amet, similique! Reprehenderit consectetur enim officiis inventore eos ipsam! Tenetur quaerat beatae natus provident assumenda quia.</p>
                    <div class="skills">
                        <p>Skills Used : </p>
                        <span>HMTL</span>
                        <span>CSS</span>
                        <span>JavaScript</span>
                        <span>Python</span>
                        <span>Django</span>
                        <span>RestAPI</span>
                    </div>
                    <div class="project-links">
                        <button class="download-btn">CODE</button>
                        <button class="download-btn">PREVIEW</button>
                        <button class="download-btn">DOCUMENTATION</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="../../static/js/nira_portfolio_app.js"></script>
    <script src="../../static/js/script.js"></script>

</body>
</html>