{% extends 'venture_app/venture_base.html' %}
{% load static %}

{% block title %}
    {{ startup.name}}
{% endblock %}

{% block content %}
    <div class="startup-container">
        <div class="startup-sections">
            <div class="startup-header">
                <div class="startup-left">
                    <h2>Startup Details</h2>
                    <div class="startup-card">
                        <div class="top-startup">
                            <div class="startup-logo">
                                <img src="../static/assets/Experience/Infosys.png" alt="">
                            </div>
                            <div class="startup-content">
                                <h3>RKD Tech Solutions Private Limited</h3>
                                <p>Empowering the Youth with Tech</p>
                                <div class="startup-social">
                                    <p>Follow :</p>
                                    <a href="https://www.instagram.com/@roshan_kumar18" target="_blank"> <img src="../static/assets/Social/instagram.png" alt=""></a>
                                    <a href="https://www.x.com/@iamroshandmaor" target="_blank"><img src="../static/assets/Social/twitter (1).png" alt=""></a>
                                    <a href="https://www.x.com/@iamroshandmaor" target="_blank"><img src="../static/assets/Social/twitter (1).png" alt=""></a>
                                    <a href="https://www.x.com/@iamroshandmaor" target="_blank"><img src="../static/assets/Social/twitter (1).png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="down-startup">
                            <div class="address">
                                <img src="../static/assets/Icons/left-arrow.png" alt="">
                                <div class="add-tag">
                                    <p>Address : <span>15B- Damor Tower, Super Corridor, Gandhinagar Bhopal, MP, India, 462033</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="startup-description">
                        <h2>Overview</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas esse sint, consequuntur perferendis a voluptatum. Illo labore possimus laudantium? Repellendus pariatur quisquam omnis vel atque, fuga est repudiandae reprehenderit itaque maxime unde. Vero voluptatibus perspiciatis non, deleniti eveniet provident dolore et nesciunt laborum deserunt, molestias minima quis sapiente obcaecati necessitatibus cumque dolor assumenda voluptatem soluta aliquam fuga harum consequatur totam? Molestiae soluta reprehenderit repellat fugit fugiat dolorem consectetur, beatae ducimus? Sed ullam ad saepe facilis. Sunt eius dolorem, aliquid magni cumque quis facere nulla, culpa quibusdam error, aperiam distinctio laborum facilis. Est sequi cum consequuntur laudantium quis in harum vitae. </p>
                    </div>
                </div>
        
                <div class="startup-right">
                    <div class="bio-startup">
                        <h2>Startup Pitch</h2>
                        <p>Our startup is a leading provider of innovative solutions for the space industry. We specializ Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio quos ipsa reprehenderit repellendus voluptatibus, officiis doloribus, at itaque sed atque culpa et iste aspernatur, quidem dolore libero! Error quasi nam libero enim excepturi ipsa culpa non optio ipsum totam aspernatur recusandae tempore hic, ad et illo facere! Aut, natus eos. <a href="">Click Here to Read More</a></p>
                        <div class="startup-pitch">
                            <video controls poster="../static/assets/Education/College-Image.jpg" width="100%" height="auto">
                                <source src="../static/assets/Hobbies/Vlogs-Vids/3135811-hd_1920_1080_24fps.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <button class="outline-btn">Download Pitch</button>
                    </div>            
                </div>
            </div>
        </div>

        <div class="startup-sections">
            <h1>Probelm & Solution</h1>
            <div class="startup-problem">
                <div class="startup-left">
                    <h2>Problem Statement</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas esse sint, consequuntur perferendis a voluptatum. Illo labore possimus laudantium? Repellendus pariatur quisquam omnis vel atque, fuga est repudiandae reprehenderit itaque maxime unde. Vero voluptatibus perspiciatis non, deleniti eveniet provident dolore et nesciunt laborum deserunt, molestias minima quis sapiente obcaecati necessitatibus cumque dolor assumenda voluptatem soluta aliquam fuga harum consequatur totam? Molestiae soluta reprehenderit repellat fugit fugiat dolorem consectetur, beatae ducimus? Sed ullam ad saepe facilis. Sunt eius dolorem, aliquid magni cumque quis facere nulla, culpa quibusdam error, aperiam distinctio laborum facilis. Est sequi cum consequuntur laudantium quis in harum vitae.</p>
                </div>
                <div class="startup-right">
                    <h2>Proposed Solution</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas esse sint, consequuntur perferendis a voluptatum. Illo labore possimus laudantium? Repellendus pariatur quisquam omnis vel atque, fuga est repudiandae reprehenderit itaque maxime unde. Vero voluptatibus perspiciatis non, deleniti eveniet provident dolore et nesciunt laborum deserunt, molestias minima quis sapiente obcaecati necessitatibus cumque dolor assumenda voluptatem soluta aliquam fuga harum consequatur totam? Molestiae soluta reprehenderit repellat fugit fugiat dolorem consectetur, beatae ducimus? Sed ullam ad saepe facilis. Sunt eius dolorem, aliquid magni cumque quis facere nulla, culpa quibusdam error, aperiam distinctio laborum facilis. Est sequi cum consequuntur laudantium quis in harum vitae.</p>
                </div>
            </div>
        </div>
        
        <div class="startup-sections">
            <h1>Product Details</h1>
            <div class="product-card">
                <div class="product-side1">
                    <div class="hero-image-slider">
                        <div class="slider">
                            <div class="slide"><img src="../../local_static/images/Portfolio Website Thumbnail 1.jpg" alt="Project Image"></div>
                            <div class="slide"><img src="../../local_static/images/My Thumnail.jpg" alt="Project Image"></div>
                            <div class="slide"><img src="../../local_static/images/TempThumbnail.jpg" alt="Project Image"></div>
                        </div>
                        <!-- Navigation Buttons (Images Kept) -->
                        <button class="prev">
                            <i class="fa-solid fa-angles-left"></i>
                        </button>
                        <button class="next">
                            <i class="fa-solid fa-angles-right"></i>
                        </button>
                    </div>

                    <div class="product-content">
                        <h3>Product Name</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        <div class="key-features">
                            <h3>Key Features</h3>
                            <ul>
                                <li><i class="fa fa-star"></i> Feature one description goes here</li>
                                <li><i class="fa fa-star"></i> Feature two description goes here</li>
                                <li><i class="fa fa-star"></i> Feature three description goes here</li>
                            </ul>
                        </div>
                        <a href=""><button class="outline-btn">Explore Now</button></a>
                    </div>
                </div>

                <div class="product-side">
                    <div class="timeline">
                        <div class="outer">
                            <div class="card">
                            <div class="info">
                                <h3 class="title">Title 1</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                            </div>
                            <div class="card">
                            <div class="info">
                                <h3 class="title">Title 2</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                            </div>
                            <div class="card">
                            <div class="info">
                                <h3 class="title">Title 3</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                            </div>
                            <div class="card">
                            <div class="info">
                                <h3 class="title">Title 4</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                            </div>
                            <div class="card">
                            <div class="info">
                                <h3 class="title">Title 5</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="startup-sections">
            <h1>Team Details</h1>
            <div class="team-cards">
                <div class="team-card">
                    <div class="profile-pic">
                        <img src="../static/assets/My Image/Roshan Damor Image 3.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h3>Krishna Rao</h3>
                        <p>CEO & Founder</p>
                    </div>
                    <div class="team-connect">
                        <a href=""><button class="outline-btn">Connect</button></a>
                        <a href=""><button class="outline-btn">Follow</button></a>
                    </div>
                </div>
        
                <div class="team-card">
                    <div class="profile-pic">
                        <img src="../static/assets/My Image/Roshan Damor Image 3.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h3>Krishna Rao</h3>
                        <p>CEO & Founder</p>
                    </div>
                    <div class="team-connect">
                        <a href=""><button class="outline-btn"> + Connect</button></a>
                        <a href=""><button class="outline-btn">Follow</button></a>
                    </div>
                </div>
        
                <div class="team-card">
                    <div class="profile-pic">
                        <img src="../static/assets/My Image/Roshan Damor Image 3.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h3>Krishna Rao</h3>
                        <p>CEO & Founder</p>
                    </div>
                    <div class="team-connect">
                        <a href=""><button class="outline-btn"> + Connect</button></a>
                        <a href=""><button class="outline-btn">Follow</button></a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="startup-specs">
            <h1>Our Unique Selling Points</h1>
    
            <div class="specs-cards">
                <div class="specs-card">
                    <div class="spec-icon">
                        <img src="../static/assets/Icons/Tensorflow.png" alt="">
                    </div>
                    <div class="spec-content">
                        <h3>Startup Type</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis, vel magnam quasi non placeat voluptates porro hic molestiae maxime itaque quaerat eos eaque, sint magni. Eaque quia, minus minima in commodi, ex, architecto quidem vitae amet reprehenderit officia? Nostrum similique, sequi nemo totam quia voluptatibus placeat in deleniti enim.</p>
                    </div>
                </div>
                <div class="specs-card">
                    <div class="spec-icon">
                        <img src="../static/assets/Icons/HackerRank.png" alt="">
                    </div>
                    <div class="spec-content">
                        <h3>Startup Type</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis, vel magnam quasi non placeat voluptates porro hic molestiae maxime itaque quaerat eos eaque, sint magni. Eaque quia, minus minima in commodi, ex, architecto quidem vitae amet reprehenderit officia? Nostrum similique, sequi nemo totam quia voluptatibus placeat in deleniti enim. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia totam dolorem sit, obcaecati inventore velit recusandae ipsam placeat eveniet quas</p>
                    </div>
                </div>
    
                <div class="specs-card">
                    <div class="spec-icon">
                        <img src="../static/assets/Icons/Websocket.png" alt="">
                    </div>
                    <div class="spec-content">
                        <h3>Startup Type</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis, vel magnam quasi non placeat voluptates porro hic molestiae maxime itaque quaerat eos eaque, sint magni. Eaque quia, minus minima in commodi, ex, architecto quidem vitae amet reprehenderit officia? Nostrum similique, sequi nemo totam quia voluptatibus placeat in deleniti enim.</p>
                    </div>
                </div>
    
                <div class="specs-card">
                    <div class="spec-icon">
                        <img src="../static/assets/Icons/Rest-API.png" alt="">
                    </div>
                    <div class="spec-content">
                        <h3>Startup Type</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis, vel magnam quasi non placeat voluptates porro hic molestiae maxime itaque quaerat eos eaque, sint magni. Eaque quia, minus minima in commodi, ex, architecto quidem vitae amet reprehenderit officia? Nostrum similique, sequi nemo totam quia voluptatibus placeat in deleniti enim.</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="startup-specs">
            <h1>Tracktion/Milstones</h1>
    
            <div class="specs-cards">
                <div class="specs-card">
                    <div class="spec-icon">
                        <img src="../static/assets/Icons/Tensorflow.png" alt="">
                    </div>
                    <div class="spec-content">
                        <h3>Startup Type</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis, vel magnam quasi non placeat voluptates porro hic molestiae maxime itaque quaerat eos eaque, sint magni. Eaque quia, minus minima in commodi, ex, architecto quidem vitae amet reprehenderit officia? Nostrum similique, sequi nemo totam quia voluptatibus placeat in deleniti enim.</p>
                    </div>
                </div>
                <div class="specs-card">
                    <div class="spec-icon">
                        <img src="../static/assets/Icons/HackerRank.png" alt="">
                    </div>
                    <div class="spec-content">
                        <h3>Startup Type</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis, vel magnam quasi non placeat voluptates porro hic molestiae maxime itaque quaerat eos eaque, sint magni. Eaque quia, minus minima in commodi, ex, architecto quidem vitae amet reprehenderit officia? Nostrum similique, sequi nemo totam quia voluptatibus placeat in deleniti enim. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia totam dolorem sit, obcaecati inventore velit recusandae ipsam placeat eveniet quas</p>
                    </div>
                </div>
    
                <div class="specs-card">
                    <div class="spec-icon">
                        <img src="../static/assets/Icons/Websocket.png" alt="">
                    </div>
                    <div class="spec-content">
                        <h3>Startup Type</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis, vel magnam quasi non placeat voluptates porro hic molestiae maxime itaque quaerat eos eaque, sint magni. Eaque quia, minus minima in commodi, ex, architecto quidem vitae amet reprehenderit officia? Nostrum similique, sequi nemo totam quia voluptatibus placeat in deleniti enim.</p>
                    </div>
                </div>
    
                <div class="specs-card">
                    <div class="spec-icon">
                        <img src="../static/assets/Icons/Rest-API.png" alt="">
                    </div>
                    <div class="spec-content">
                        <h3>Startup Type</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis, vel magnam quasi non placeat voluptates porro hic molestiae maxime itaque quaerat eos eaque, sint magni. Eaque quia, minus minima in commodi, ex, architecto quidem vitae amet reprehenderit officia? Nostrum similique, sequi nemo totam quia voluptatibus placeat in deleniti enim.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="startup-sections">
            <h1>Team Details</h1>
            <div class="startup-cta">
                <h2>Get in Touch</h2>
                <p>Whether you're an investor, collaborator, user, or just curious — we'd love to hear from you. Drop us a message!</p>
                <form action="#">
                    <div class="startup-cta-input">
                        <select name="role" required>
                            <option value="" disabled selected>I'm a...</option>
                            <option value="investor">Investor</option>
                            <option value="collaborator">Collaborator</option>
                            <option value="user">User</option>
                            <option value="others">Others</option>
                        </select>
                        <input type="text" name="name" placeholder="Your Name" required>
                        <input type="email" name="email" placeholder="Your Email" required>
                        <textarea name="message" placeholder="Your Message" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="outline-btn">Send Message</button>
                </form>
            </div>
        </div>
    </div>  
    <script>
        const slider = document.querySelector('.slider');
        const slides = document.querySelectorAll('.slide');
        const prevBtn = document.querySelector('.prev');
        const nextBtn = document.querySelector('.next');
        let currentIndex = 0;
        let slideInterval;
    
        const goToSlide = (index) => {
            slider.style.transform = `translateX(-${index * 100}%)`;
        };
    
        const nextSlide = () => {
            currentIndex = (currentIndex + 1) % slides.length;
            goToSlide(currentIndex);
        };
    
        const prevSlide = () => {
            currentIndex = (currentIndex - 1 + slides.length) % slides.length;
            goToSlide(currentIndex);
        };
    
        // Auto Slide
        const startAutoSlide = () => {
            slideInterval = setInterval(nextSlide, 3000); // Change every 3 seconds
        };
    
        const stopAutoSlide = () => {
            clearInterval(slideInterval);
        };
    
        nextBtn.addEventListener('click', () => {
            stopAutoSlide();
            nextSlide();
            startAutoSlide();
        });
    
        prevBtn.addEventListener('click', () => {
            stopAutoSlide();
            prevSlide();
            startAutoSlide();
        });
    
        // Start on load
        goToSlide(currentIndex);
        startAutoSlide();
    </script>
{% endblock %}