{% extends 'venture_app/venture_base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="startup-container">
        <div class="startup-hero">
                <img src="../../local_static/images/Startup5.png" alt="">
                <div class="hero-content">
                    <h1>Welcome to My Startup Journey <span>"Turning Ideas into Impactful Ventures"</span></h1>
                    <p>I'm a startup builder, problem-solver, and lifelong learner—on a mission to bring innovative ideas to life and create real-world value through technology. Join me as I explore the world of startups, innovation, and entrepreneurship. Explore My Startups and Ideas and Join Me.</p>
                    <div class="startup-btns">
                        <a href="#explore" class="outline-btn">Get Started</a>
                        <a href="#explore" class="outline-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="startup-container">
        <div class="startup-header">
            <div class="header">
                <h1>Explore <span>Startups</span> Portfolio</h1>
                <p>Explore the ventures I’ve launched—each built to solve real-world problems and create lasting impact. Dive into the journey, progress, and purpose behind every startup I’m working on or have founded.</p>
            </div>
        </div>
        <div class="cards-container">
            <div class="startup-card card">
                <div class="startup-image">
                    <img src="../../static/images/Furnivation Furniture.jpg" alt="Startup Image">
                </div>
                <div class="startup-head">
                    <span class="teg">Launched</span>
                    <span class="teg">Funded</span>
                </div>
                <div class="startup-content">
                    <h2>My Startup Name</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ea corporis, alias nisi, rem fuga tenetur commodi similique repudiandae enim voluptates maxime et fugit harum?</p>
                </div>
                <div class="btn-startup">
                    <button class="outline-btn">VIEW DETAILS</button>
                    <button class="outline-btn">VISIT SITE</button>
                </div>
            </div>
    
            <div class="startup-card card">
                <div class="startup-image">
                    <img src="../../static/images/Furnivation Furniture.jpg" alt="Startup Image">
                </div>
                <div class="startup-head">
                    <span class="teg">Launched</span>
                    <span class="teg">Funded</span>
                </div>
                <div class="startup-content">
                    <h2>My Startup Name</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ea corporis, alias nisi, rem fuga tenetur commodi similique repudiandae enim voluptates maxime et fugit harum?</p>
                </div>
                <div class="btn-startup">
                    <button class="outline-btn">VIEW DETAILS</button>
                    <button class="outline-btn">VISIT SITE</button>
                </div>
            </div>
    
            <div class="startup-card card">
                <div class="startup-image">
                    <img src="../../static/images/Furnivation Furniture.jpg" alt="Startup Image">
                </div>
                <div class="startup-head">
                    <span class="teg">Launched</span>
                    <span class="teg">Funded</span>
                </div>
                <div class="startup-content">
                    <h2>My Startup Name</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ea corporis, alias nisi, rem fuga tenetur commodi similique repudiandae enim voluptates maxime et fugit harum?</p>
                </div>
                <div class="btn-startup">
                    <button class="outline-btn">VIEW DETAILS</button>
                    <button class="outline-btn">VISIT SITE</button>
                </div>
            </div>
        </div>
    </div>

    <div class="startup-container">
        <div class="startup-header">
            <div class="header">
                <h1>Upcomming <span>Venture</span> Ideas</h1>
                <p>A peek inside my creative lab—this is where bold ideas, experimental projects, and upcoming ventures live. Some are work-in-progress, some are open to collaboration. Curiosity starts here.</p>
            </div>
        </div>

        <div class="cards-container">
            <div class="venture-card card">
                <div class="venture-icon">
                    <img src="../../local_static/images/Fumio Logo.jpg" alt="Idea Icon" />
                </div>
                <h2 class="venture-title">Smart Study Planner</h2>
                <p class="venture-description">
                    An AI-powered tool that creates personalized study schedules based on your syllabus, free time, and deadlines.
                </p>
                
                <div class="venture-tags">
                    <span class="tag">AI</span>
                    <span class="tag">EdTech</span>
                    <span class="tag">MVP Ready</span>
                </div>
                
                <a href="#" class="outline-btn">View Details</a>
            </div>

            <div class="venture-card card">
                <div class="venture-icon">
                    <img src="../../local_static/images/Fumio Logo.jpg" alt="Idea Icon" />
                </div>
                <h2 class="venture-title">Smart Study Planner</h2>
                <p class="venture-description">
                    An AI-powered tool that creates personalized study schedules based on your syllabus, free time, and deadlines.
                </p>
                
                <div class="venture-tags">
                    <span class="teg">AI</span>
                    <span class="teg">EdTech</span>
                    <span class="teg">MVP Ready</span>
                </div>
                
                <a href="#" class="outline-btn">View Details</a>
            </div>

            <div class="venture-card card">
                <div class="venture-icon">
                    <img src="../../local_static/images/Fumio Logo.jpg" alt="Idea Icon" />
                </div>
                <h2 class="venture-title">Smart Study Planner</h2>
                <p class="venture-description">
                    An AI-powered tool that creates personalized study schedules based on your syllabus, free time, and deadlines.
                </p>
                
                <div class="venture-tags">
                    <span class="teg">AI</span>
                    <span class="teg">EdTech</span>
                    <span class="teg">MVP Ready</span>
                </div>
                
                <a href="#" class="outline-btn">View Details</a>
            </div>
                
        </div>
    </div>

    <div class="startup-container">
        <div class="startup-header">
            <div class="header">
                <h1><span>Thoughts</span> & Studies Blogs</h1>
                <p>Thoughts, lessons, and stories from my entrepreneurial journey. From building MVPs to facing startup challenges—read to learn, relate, or just get inspired.</p>
            </div>
        </div>
        <div class="cards-container">
            <div class="blog-card card" data-url="blog-detail.html">
                <div class="blog-image">
                    <img src="../../static/images/Teachers.jpg" alt="">
                </div>
                <div class="blog-content">
                    <span class="teg">Technology</span>
                    <div class="date">
                        <i class="fa-regular fa-calendar"></i>
                        <p>2022-01-01</p>
                        <i class="fa-regular fa-clock"></i>
                        <p>Read Time: 10 min</p>
                    </div>
                    <h2>Modern Landing Page E-commerce Project using Python-Django</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque accusantium nobis, libero nostrum eligendi deserunt, iure illo dicta ea perferendis assumenda officia ducimus architecto praesentium modi. Culpa sequi ducimus voluptates.</p>
                </div>
                <div class="blog-footer">
                    <div class="publisher">
                        <img src="../../static/images/User2.jpg" alt="Publisher">
                        <p>John Doe</p>
                    </div>
                    <div class="comments-likes">
                        <a href="blog-detail.html">
                            <i class="fa-solid fa-comment"></i>
                            <span>12</span>
                        </a>
                        <a href="blog-detail.html">
                            <i class="fa-solid fa-heart"></i>
                            <span>250</span>
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="blog-card card" data-url="blog-detail.html">
                <div class="blog-image">
                    <img src="../../static/images/Teachers.jpg" alt="">
                </div>
                <div class="blog-content">
                    <span class="teg">Technology</span>
                    <div class="date">
                        <i class="fa-regular fa-calendar"></i>
                        <p>2022-01-01</p>
                        <i class="fa-regular fa-clock"></i>
                        <p>Read Time: 10 min</p>
                    </div>
                    <h2>Modern Landing Page E-commerce Project using Python-Django</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque accusantium nobis, libero nostrum eligendi deserunt, iure illo dicta ea perferendis assumenda officia ducimus architecto praesentium modi. Culpa sequi ducimus voluptates.</p>
                </div>
                <div class="blog-footer">
                    <div class="publisher">
                        <img src="../../static/images/User2.jpg" alt="Publisher">
                        <p>John Doe</p>
                    </div>
                    <div class="comments-likes">
                        <a href="blog-detail.html">
                            <i class="fa-solid fa-comment"></i>
                            <span>12</span>
                        </a>
                        <a href="blog-detail.html">
                            <i class="fa-solid fa-heart"></i>
                            <span>250</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="blog-card card" data-url="blog-detail.html">
                <div class="blog-image">
                    <img src="../../static/images/Teachers.jpg" alt="">
                </div>
                <div class="blog-content">
                    <span class="teg">Technology</span>
                    <div class="date">
                        <i class="fa-regular fa-calendar"></i>
                        <p>2022-01-01</p>
                        <i class="fa-regular fa-clock"></i>
                        <p>Read Time: 10 min</p>
                    </div>
                    <h2>Modern Landing Page E-commerce Project using Python-Django</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque accusantium nobis, libero nostrum eligendi deserunt, iure illo dicta ea perferendis assumenda officia ducimus architecto praesentium modi. Culpa sequi ducimus voluptates.</p>
                </div>
                <div class="blog-footer">
                    <div class="publisher">
                        <img src="../../static/images/User2.jpg" alt="Publisher">
                        <p>John Doe</p>
                    </div>
                    <div class="comments-likes">
                        <a href="blog-detail.html">
                            <i class="fa-solid fa-comment"></i>
                            <span>12</span>
                        </a>
                        <a href="blog-detail.html">
                            <i class="fa-solid fa-heart"></i>
                            <span>250</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="startup-container">
        <div class="startup-header">
            <div class="header">
                <h1>Connect or <span>Collaborate</span> Now</h1>
                <p>Got an idea, feedback, or looking to collaborate? This is the space to reach out, share thoughts, or start something together. Let’s build, brainstorm, or co-create something awesome.</p>
            </div>
        </div>
        <!-- Collaborate Section -->
        <section class="collaborate-section card">
            <form class="collaborate-form">
                <div class="first-group">
                    <div class="form-group">
                        <label for="name">Your Name</label>
                        <input type="text" id="name" placeholder="Enter your name" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="email">Your Email</label>
                        <input type="email" id="email" placeholder="Enter your email" required>
                    </div>

                    <div class="form-group">
                        <label for="role">You are connecting as</label>
                        <select id="role" required>
                            <option value="" disabled selected>Select your role</option>
                            <option value="collaborator">Collaborator</option>
                            <option value="user">User / Viewer</option>
                            <option value="funder">Investor / Funder</option>
                            <option value="partner">Partner / Startup Team</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                <label for="message">Message</label>
                <textarea id="message" rows="10" placeholder="Tell me how you'd like to collaborate..." required></textarea>
                </div>
                
                <button type="submit" class="outline-btn">Send Message</button>
            </form>
        </section>

    </div>
{% endblock %}