.leaderboard-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--card-color);
    border-radius: 10px;
    padding: 20px;
    min-width: 300px;
    max-width: 100%;
    width: 100%;
    border: solid 2px var(--card-outline-color);
    gap: 10px;
}

.leaderboard-card h2 {
    color: var(--title-color);
    text-align: left;
}

.leaderboard-card p span {
    color: var(--title-color);
    font-weight: bold;
}