:root {
    --background-color: #000a14;
    --card-color: #1a1a1a;
    --outline-color: #1e252e;
    --heading-color: #406cff;
    --text-color: #bdbdbd;
    --accent-color: #6a53ff;
    --link-hover-color: #056edf;
    --font-genral: "Alumni Sans", sans-serif;
    --font-special: "Josefin Slab", serif;
    --font-heading: "Abril Fatface", sans-serif;
    --font-subheading: "Agu Display", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Blogs Categories Section */
.my-blogs-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    margin-top: 100px;
    gap: 50px;
    background-color: var(--card-color);
    padding: 42px;
}

.my-blogs-categories .category-header {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.category-header span {
    color: var(--warning-color);
}

.category-header h1 {
    font-family: var(--font-subheading);
    text-align: left;
    font-size: 4rem;
    font-weight: 900;
    line-height: 0.95;
    margin: 0;
    padding: 0;
    color: var(--subheading-color);
}

.my-blogs-categories .categories-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    gap: 25px;
}

.categories-cards .category-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 275px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: solid 1px var(--subheading-color);
    padding: 15px;
    gap: 10px;
}

.category-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.category-card h2 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    color: var(--subheading-color);
}

.category-card p {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    color: var(--paragraph-color);
}


/* Author Spotlight Section */
.author-spotlight {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin-top: 100px;
}

.author-spotlight .author-spotlight-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.author-spotlight-content h3 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 0.5;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    color: var(--text-accent-color);
}

.author-spotlight-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    color: var(--subheading-color);
    font-family: var(--font-subheading);
    margin-bottom: 15px;
}

.author-spotlight-content h1 span {
    color: var(--warning-color);
}

.author-spotlight-content p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    color: var(--paragraph-color);
}

.author-spotlight .author-spotlight-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--subheading-color);
    padding: 5px;
    border-radius: 50%;
}

.author-spotlight img {
    width: 100%;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .author-spotlight {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .author-spotlight .author-spotlight-content {
        width: 100%;
        align-items: center;
    }

    .author-spotlight .author-spotlight-image {
        width: 100%;
    }
    
}

/* Subscribe Section */
.blog-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--card-color);
    padding: 50px;
    text-align: center;
    border-radius: 20px; 
    margin-top: 100px;
}

.subscribe-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.subscribe-content h1 {
    color: var(--subheading-color);
    font-size: 4rem;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.1;
    font-family: var(--font-subheading);
}

.subscribe-content p {
    color: var(--paragraph-color);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1.5px;
    width: 75%;
}

.subscribe-content h1 span {
    color: var(--warning-color);
}

.subscribe-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    border: solid 1px var(--paragraph-color);
    border-radius: 50px;
    padding: 8px;
    width: fit-content;
}
.subscribe-form input {
    width: 500px;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    outline: none;
    color: var(--text-color);
    text-align: left;
}

.subscribe-form input::placeholder {
    color: var(--paragraph-color);
    font-size: 18px;
}

.subscribe-btn {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    background: var(--text-color);
    color: var(--text-accent-color);
    cursor: pointer;
    transition: 0.3s;
    width: 150px;
}

.subscribe-btn:hover {
    background: var(--success-color);
}

/* Latest Blogs Section */
.latest-blogs-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    margin-top: 100px;
    gap: 35px;
}

.latest-blogs-section .latest-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
}

.latest-header h1 {
    font-family: var(--font-subheading);
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}
.latest-header span {
    color: var(--warning-color);
    font-family: var(--font-subheading);
}

.latest-blogs-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 33px;
}

.latest-blogs-card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 300px;
    border-radius: 15px;
    overflow: hidden;
    font-family: var(--font-genral);
    cursor: pointer;
    border: solid 3px var(--outline-color);
    padding: 15px;
    background-color: var(--card-color);
    gap: 20px;
}

.latest-blogs-card:hover {
    background: linear-gradient(45deg, #272d35, #2d2c30);
}

.latest-blogs-image {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.latest-blogs-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.latest-blogs-image span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: var(--text-accent-color);
    color: var(--text-color);
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
}

.latest-blogs-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.latest-blogs-content h2 {
    color: var(--subheading-color);
    font-weight: bold;
    font-size: 25px;
    line-height: 1.1;
    letter-spacing: 1px;
}

.latest-blogs-content p {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 400;
    letter-spacing: 1px;
}

.latest-blogs-content p span {
    font-weight: bold;
    color: var(--subheading-color);
}

.latest-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: var(--paragraph-color);
}

.latest-bottom .date,
.latest-bottom .time {
    display: flex;
    align-items: center;
    gap: 5px;
}

.latest-bottom img {
    width: 15px;
    height: 15px;
    filter: invert(1);
}

.latest-bottom p {
    margin: 0;
}

.latest-blogs-cards-big {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 50px;
}

.latest-blogs-card2 {
    display: flex;
    flex-direction: column;
    max-width: 625px;
    width: 100%;
    min-width: 300px;
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    border: solid 3px var(--outline-color);
    background-color: var(--card-color);
    padding: 20px;
    gap: 25px;
}

.latest-blogs-card2:hover {
    background: linear-gradient(45deg, #272d35, #2d2c30);
}

.latest-blogs-image2 {
    position: relative;
    width: 100%;
    height: 315px;
    overflow: hidden;
    border-radius: 10px;
}

.latest-blogs-image2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.latest-blogs-image2 span {
    position: absolute;
    bottom: 12px;
    left: 12px;
    background: var(--text-accent-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 6px;
}

.latest-blogs-content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.latest-blogs-content2 h2 {
    color: var(--subheading-color);
    font-weight: bold;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 2px;
}

.latest-blogs-content2 p {
    font-size: 20px;
    color: var(--paragraph-color);
    font-weight: 400;
    letter-spacing: 1px;
}

.latest-blogs-content2 p span {
    font-weight: bold;
    color: var(--subheading-color);
}

.latest-bottom2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: var(--paragraph-color);
}

.latest-bottom2 .date2,
.latest-bottom2 .time2 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.latest-bottom2 img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.latest-bottom2 p {
    margin: 0;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
    .my-blogs-categories .category-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {

    .latest-blogs-card2 {
        max-width: 385px;
        min-width: 300px;
    }

    .latest-blogs-content2 h2 {
        font-size: 25px;
    }

    .latest-blogs-card2 p {
        font-size: 14px;
    }

    .latest-blogs-image2 {
        height: 200px;
    }

    .latest-blogs-image2 span {
        font-size: 14px;
    }

    .latest-bottom2 {
        font-size: 12px;
    }

    .latest-blogs-card .latest-bottom2 .date2,
    .latest-blogs-card .latest-bottom2 .time2 {
        gap: 5px;
    }

    .latest-blogs-card .latest-bottom2 .time2 img {
        width: 15px;
        height: 15px;
    }

    .latest-blogs-card .latest-bottom2 .date2 img {
        width: 15px;
        height: 15px;
    }

    .my-blogs-categories {
        padding: 25px;
        gap: 30px;
    }

    .category-header h1, 
    .subscribe-content h1, 
    .author-spotlight-content h1, 
    .latest-header h1 {
        font-size: 2.5rem;
    }

    .category-card h2, .author-spotlight-content h3 {
        font-size: 2rem;
    }

    .category-card p, 
    .author-spotlight-content p, 
    .subscribe-content p {
        font-size: 1rem;
    }

    .subscribe-form {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .subscribe-form input {
        width: 90%;
        text-align: center;
    }

    .subscribe-btn {
        width: 90%;
    }

    .latest-blogs-section {
        gap: 30px;
    }
    
}

@media screen and (max-width: 768px) {
    .my-blogs-categories {
        padding: 25px;
        gap: 30px;
    }

    .category-header h1, 
    .subscribe-content h1, 
    .author-spotlight-content h1, 
    .latest-header h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .category-card h2, .author-spotlight-content h3 {
        font-size: 2rem;
    }

    .category-card p, 
    .author-spotlight-content p, 
    .subscribe-content p {
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }

    .subscribe-form {
        flex-direction: column;
        width: 100%;
        align-items: center;
        border: none;
    }

    .subscribe-form input {
        width: 90%;
        text-align: center;
        border: 1px solid var(--paragraph-color);
    }

    .subscribe-btn {
        width: 90%;
    }

    .latest-blogs-section {
        gap: 30px;
    }
}

@media screen and (max-width: 480px) {
    .category-card {
        max-width: 90%;
    }


    .subscribe-content h1, 
    .author-spotlight-content h1{
        font-size: 1.5rem;
        text-align: center;
        line-height: 1.2;
    }

    .category-header h1, .latest-header h1 {
        font-size: 1.5rem;
        text-align: left;
    }

    .category-card h2, .author-spotlight-content h3 {
        font-size: 1.2rem;
    }



    .category-card img {
        width: 150px;
        height: 150px;
    }

    .author-spotlight {
        gap: 30px;
    }
}
