/* Contact Section Style */
.mail-contact-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    border-radius: 20px;
    padding: 30px;
    color: var(--main-text-color);
    border: 3px solid var(--card-outline-color);
    background-color: var(--card-color);
}

.mail-contact-card:hover {
    background: linear-gradient(145deg, var(--card-hover-color1), var(--card-hover-color2));
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.mail-contact-card .left-contact {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
    align-items: center;
}

.mail-contact-card .left-contact img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.mail-contact-card .right-contact {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
}

.contact-form-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    align-items: center; /* Center form when in column mode */
}

.contact-form-card form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    min-width: 300px;
}

.contact-form-card form input,
.contact-form-card form textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid var(--card-outline-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    background: none;
    color: var(--text-color);
    font-weight: 600;
    letter-spacing: 2px;
}

.contact-form-card form input::placeholder,
.contact-form-card form textarea::placeholder {
    color: var(--secondary-text-color);
}

.contact-form-card form textarea {
    height: 225px; /* Set fixed height */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Ensure it doesn't exceed parent */
    resize: none; /* Disable resizing */
}

.contact-form-card form button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: var(--main-text-color);
    background: transparent;
    border: 3px solid var(--card-outline-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-sizing: border-box;
    text-align: left;
    font-weight: 600;
}

.contact-form-card form input:focus {
    outline: none;
}

.contact-form-card form textarea:focus {
    outline: none;
}

.contact-form-card form button img {
    width: 25px;
    height: auto;
    filter: invert(1);
}

.contact-form-card form button:hover {
    background: var(--card-outline-color);
}

.success-massage {
    width: 100%;
    text-align: center;
    align-items: center;
    display: none;
}

.success {
    width: 100%;
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.success img {
    width: 20px;
    height: 20px;
}

#error {
    background-color: #E53935;
}

@media (max-width: 1000px) {
    .mail-contact-card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .mail-contact-card .left-contact,
    .mail-contact-card .right-contact {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .contact-form-card {
        width: 100%;
    }
    .contact-form-card form {
        width: 100%;
        min-width: 280px;
    }
}
