<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Agu+Display&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/blog_app/nira_blog_app.css">
    <link rel="stylesheet" href="../../static/css/blog_app/nira_articles_index.css">
    <link rel="stylesheet" href="../../static/css/blog_app/nira_blogs_index.css">
    
    <title>Document</title>
</head>
<body>
    <div class="main-container">
       
        <!--Trending Blogs Section-->
        <div class="trending-blog-section">
            <div class="trending-cards-holder">
                <div class="detail-blog-card" data-url="blog-detail.html">
                    <div class="trending-blog-image">
                        <img src="../../static/images/agritech.jpg" alt="Blog Image1">
                    </div>
                    <div class="trending-blog-content">
                        <div class="blog-top">
                            <span>Category</span>
                            <p>4 Min read</p>
                        </div>
                        <h2>How to start a successful agritech business in Nigeria</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis tenetur laudantium veniam voluptates optio consectetur eveniet exercitationem incidunt nemo adipisci.</p>
                        <div class="blog-bottom">
                            <a href=""><button class="read-blog-btn">Read Article</button></a>
                            <div class="profile">
                                <img src="../../static/images/user1.jpeg" alt="Profile Image">
                                <div class="profile-detail">
                                    <h3>by <span>Roshan</span></h3>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="trending-blog-cards">
                    <div class="trending-blog-card" data-url="blog-detail.html">
                        <div class="trend-blog-content">
                            <div class="trend-blog-top">
                                <span>Category</span>
                                <p>4 Min read</p>
                            </div>
                            <h2>How to start a successful agritech business in Nigeria</h2>
                        </div>
                        <div class="trend-blog-image">
                            <img src="../../static/images/Customer.jpg" alt="Blog Image1">
                        </div>
                    </div>

                    <div class="trending-blog-card" data-url="blog-detail.html">
                        <div class="trend-blog-content">
                            <div class="trend-blog-top">
                                <span>Category</span>
                                <p>4 Min read</p>
                            </div>
                            <h2>How to start a successful agritech business in Nigeria</h2>
                        </div>
                        <div class="trend-blog-image">
                            <img src="../../static/images/agritech.jpg" alt="Blog Image1">
                        </div>
                    </div>

                    <div class="trending-blog-card" data-url="blog-detail.html">
                        <div class="trend-blog-content">
                            <div class="trend-blog-top">
                                <span>Category</span>
                                <p>4 Min read</p>
                            </div>
                            <h2>How to start a successful agritech business in Nigeria</h2>
                        </div>
                        <div class="trend-blog-image">
                            <img src="../../static/images/startup.jpeg" alt="Blog Image1">
                        </div>
                    </div>

                    <div class="trending-blog-card" data-url="blog-detail.html">
                        <div class="trend-blog-content">
                            <div class="trend-blog-top">
                                <span>Category</span>
                                <p>4 Min read</p>
                            </div>
                            <h2>How to start a successful agritech business in Nigeria</h2>
                        </div>
                        <div class="trend-blog-image">
                            <img src="../../static/images/agritech.jpg" alt="Blog Image1">
                        </div>
                    </div>

                    <div class="trending-blog-card" data-url="blog-detail.html">
                        <div class="trend-blog-content">
                            <div class="trend-blog-top">
                                <span>Category</span>
                                <p>4 Min read</p>
                            </div>
                            <h2>How to start a successful agritech business in Nigeria</h2>
                        </div>
                        <div class="trend-blog-image">
                            <img src="../../static/images/Customer.jpg" alt="Blog Image1">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Blogs Hero Section-->
        <div class="most-liked-blogs">
            <div class="liked-header">
                <h1>My Most<br><span>Liked</span> Articles</h1>
                <a href=""><button class="view-all-btn">Read All Blogs</button></a>
            </div>
            <div class="blog-hero-section">
                <div class="small-card">
                    <div class="small-blog-card" data-url="blog-detail.html">
                        <div class="blog-content">
                            <span>Category</span>
                            <h2>How to start a successful agritech business in Nigeria</h2>
                        </div>
                        <div class="blog-image">
                            <img src="../../static/images/agritech.jpg" alt="Blog Image1">
                        </div>
                    </div>
                    <div class="small-blog-card" data-url="blog-detail.html">
                        <div class="blog-content">
                            <span>Category</span>
                            <h2>How to start a successful agritech business in Nigeria</h2>
                        </div>
                        <div class="blog-image">
                            <img src="../../static/images/Customer.jpg" alt="Blog Image1">
                        </div>
                    </div>
                </div>
                <div class="big-card">
                    <div class="big-blog-card">
                        <div class="blog-content">
                            <span>Category</span>
                            <h1>How to start a successful agritech business in Nigeria</h1>
                            <div class="blog-detail">
                                <a href=""><button class="read-blog-btn">Read Article</button></a>
                                <div class="profile">
                                    <img src="../../static/images/user1.jpeg" alt="Profile Image">
                                    <div class="profile-detail">
                                        <h3>by <span>Roshan</span></h3>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="blog-image">
                            <img src="../../static/images/startup.jpeg" alt="Blog Image1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Latest Blogs Section-->
        <div class="latest-blogs-section">
            <div class="latest-header">
                <h1>My All <br> <span>Latest</span> Articles</h1>
                <a href=""><button class="view-all-btn">Read All Blogs</button></a>
            </div>
            <div class="latest-blogs-cards-big">
                <div class="latest-blogs-card2" data-url="blog-detail.html">
                    <div class="latest-blogs-image2">
                        <img src="../../static/images/startup.jpeg" alt="Blog Image1">
                        <span>Category</span>
                    </div>
                    <div class="latest-blogs-content2">
                        <h2>How to start a successful agritech business in Nigeria</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nisi alias eveniet fuga, aliquid aperiam obcaecati totam eligendi dolorem et!</p>
                        <p>By <span>Sandeep Kumar</span></p>
                        <div class="latest-bottom2">
                            <div class="date2">
                                <img src="../../static/images/calendar.png" alt="">
                                <p>March 21, 2025</p>
                                <p>20:62 IST</p>
                            </div>
                            <div class="time2">
                                <img src="../../static/images/clock.png" alt="">
                                <p><span>4 Min</span> read</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="latest-blogs-card2" data-url="blog-detail.html">
                    <div class="latest-blogs-image2">
                        <img src="../../static/images/startup.jpeg" alt="Blog Image1">
                        <span>Category</span>
                    </div>
                    <div class="latest-blogs-content2">
                        <h2>How to start a successful agritech business in Nigeria</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nisi alias eveniet fuga, aliquid aperiam obcaecati totam eligendi dolorem et!</p>
                        <p>By <span>Sandeep Kumar</span></p>
                        <div class="latest-bottom2">
                            <div class="date2">
                                <img src="../../static/images/calendar.png" alt="">
                                <p>March 21, 2025</p>
                                <p>20:62 IST</p>
                            </div>
                            <div class="time2">
                                <img src="../../static/images/clock.png" alt="">
                                <p><span>4 Min</span> read</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="latest-blogs-cards">
                <div class="latest-blogs-card" data-url="blog-detail.html">
                    <div class="latest-blogs-image">
                        <img src="../../static/images/startup.jpeg" alt="Blog Image1">
                        <span>Category</span>
                    </div>
                    <div class="latest-blogs-content">
                        <h2>How to start a successful agritech business in Nigeria</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nisi alias eveniet fuga, aliquid aperiam obcaecati totam eligendi dolorem et!</p>
                        <p>By <span>Sandeep Kumar</span></p>
                        <div class="latest-bottom">
                            <div class="date">
                                <img src="../../static/images/calendar.png" alt="">
                                <p>March 21, 2025</p>
                                <p>20:62 IST</p>
                            </div>
                            <div class="time">
                                <img src="../../static/images/clock.png" alt="">
                                <p><span>4 Min</span> read</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="latest-blogs-card" data-url="blog-detail.html">
                    <div class="latest-blogs-image">
                        <img src="../../static/images/startup.jpeg" alt="Blog Image1">
                        <span>Category</span>
                    </div>
                    <div class="latest-blogs-content">
                        <h2>How to start a successful agritech business in Nigeria</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nisi alias eveniet fuga, aliquid aperiam obcaecati totam eligendi dolorem et!</p>
                        <p>By <span>Sandeep Kumar</span></p>
                        <div class="latest-bottom">
                            <div class="date">
                                <img src="../../static/images/calendar.png" alt="">
                                <p>March 21, 2025</p>
                                <p>20:62 IST</p>
                            </div>
                            <div class="time">
                                <img src="../../static/images/clock.png" alt="">
                                <p><span>4 Min</span> read</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="latest-blogs-card" data-url="blog-detail.html">
                    <div class="latest-blogs-image">
                        <img src="../../static/images/startup.jpeg" alt="Blog Image1">
                        <span>Category</span>
                    </div>
                    <div class="latest-blogs-content">
                        <h2>How to start a successful agritech business in Nigeria</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nisi alias eveniet fuga, aliquid aperiam obcaecati totam eligendi dolorem et!</p>
                        <p>By <span>Sandeep Kumar</span></p>
                        <div class="latest-bottom">
                            <div class="date">
                                <img src="../../static/images/calendar.png" alt="">
                                <p>March 21, 2025</p>
                                <p>20:62 IST</p>
                            </div>
                            <div class="time">
                                <img src="../../static/images/clock.png" alt="">
                                <p><span>4 Min</span> read</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="latest-blogs-card" data-url="blog-detail.html">
                    <div class="latest-blogs-image">
                        <img src="../../static/images/startup.jpeg" alt="Blog Image1">
                        <span>Category</span>
                    </div>
                    <div class="latest-blogs-content">
                        <h2>How to start a successful agritech business in Nigeria</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nisi alias eveniet fuga, aliquid aperiam obcaecati totam eligendi dolorem et!</p>
                        <p>By <span>Sandeep Kumar</span></p>
                        <div class="latest-bottom">
                            <div class="date">
                                <img src="../../static/images/calendar.png" alt="">
                                <p>March 21, 2025</p>
                                <p>20:62 IST</p>
                            </div>
                            <div class="time">
                                <img src="../../static/images/clock.png" alt="">
                                <p><span>4 Min</span> read</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Blogs Category Section-->
        <div class="my-blogs-categories">
            <div class="category-header">
                <h1>My Most<br><span>Popular</span> Categories</h1>
            </div>
            <div class="categories-cards">
                <div class="category-card">
                    <img src="../../static/images/Coding workshop-amico.svg" alt="">
                    <h2>Technology & Coding</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem illum ipsa temporibus?</p>
                    <a href=""><button class="view-all-btn">Discover</button></a>
                </div>

                <div class="category-card">
                    <img src="../../static/images/Next steps-amico.svg" alt="">
                    <h2>Persoanl Growth & Productivity</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores nisi animi itaque!</p>
                    <a href=""><button class="view-all-btn">Discover</button></a>
                </div>

                <div class="category-card">
                    <img src="../../static/images/Job offers-amico.svg" alt="">
                    <h2>Career & Freelancing</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quasi reprehenderit inventore.</p>
                    <a href=""><button class="view-all-btn">Discover</button></a>
                </div>

                <div class="category-card">
                    <img src="../../static/images/Saving money-amico.svg" alt="">
                    <h2>Finance & Money Managemnet</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt at sapiente tenetur.</p>
                    <a href=""><button class="view-all-btn">Discover</button></a>
                </div>
            </div>
        </div>

        <!--Author Spotlight Section-->
        <div class="author-spotlight">
            <div class="author-spotlight-content">
                <h3>Hi'I am Roshan Damor</h3>
                <h1>Founder, Full Stack Developer, and <span>lazy Writer</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure molestias libero tenetur. Cum aut recusandae repudiandae quas amet tempora sint! Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, atque.</p>
                <a href=""><button class="view-all-btn">Read My Blogs</button></a>
            </div>
            <div class="author-spotlight-image">
                <img src="../../static/images/user1.jpeg" alt="Author Image">
            </div>
        </div>

        <!--Subscribe Section-->
        <div class="blog-subscribe">
            <div class="subscribe-content">
                <h1>Subscribe for <span>Updates</span><br>by Newsletter</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, sunt?</p>
                <div class="subscribe-form">
                    <input type="email" placeholder="Enter your email">
                    <button class="subscribe-btn">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../../static/js/nira_blog_app.js"></script>
    <script src="../../static/js/script.js"></script>
</body>
</html>