<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/blog_app/base.css">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <div class="navbar">
            <nav>
                <div class="logo">
                    <a href="/"><img src="../../static/images/Logo.png" alt=""><p>Blogs</p></a>
                </div>
    
                <div class="nav-items">
                    <ul class="nav-list">
                        <li><a href="/">Home</a></li>
                        <li><a href="/blogs">All Blogs</a></li>
                        <li><a href="#">Categories</a></li>
                        <li><a href="/blog">About Author</a></li>
                        <li><a href="/blog">Contact</a></li>
                    </ul>
                </div>
    
                <div class="nav-btns">
                    <button class="btn-login"><a href="/login">Login</a></button>
                    <button class="btn-signup"><a href="/signup">Subscribe</a></button>
                </div>
            </nav>
            <div class="dropdown-menu">
                <div class="dropdown-content">
                    <h2>All Blogs</h2>
                    <a href="#"><div class="nav-blog">
                        <img src="../../static/images/Ariba Agrifarm.jpg" alt="">
                        <div class="nav-blog-content">
                            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, numquam?</h3>
                        </div>
                    </div></a>

                    <a href="#"><div class="nav-blog">
                        <img src="../../static/images/Ariba Agrifarm.jpg" alt="">
                        <div class="nav-blog-content">
                            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, numquam?</h3>
                        </div>
                    </div></a>

                    <a href="#"><div class="nav-blog">
                        <img src="../../static/images/Ariba Agrifarm.jpg" alt="">
                        <div class="nav-blog-content">
                            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, numquam?</h3>
                        </div>
                    </div></a>
                </div>

                <div class="dropdown-content">
                    <h2>Latest Blogs</h2>
                    <a href="#"><div class="nav-blog">
                        <img src="../../static/images/Ariba Agrifarm.jpg" alt="">
                        <div class="nav-blog-content">
                            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, numquam?</h3>
                        </div>
                    </div></a>

                    <a href="#"><div class="nav-blog">
                        <img src="../../static/images/Ariba Agrifarm.jpg" alt="">
                        <div class="nav-blog-content">
                            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, numquam?</h3>
                        </div>
                    </div></a>

                    <a href="#"><div class="nav-blog">
                        <img src="../../static/images/Ariba Agrifarm.jpg" alt="">
                        <div class="nav-blog-content">
                            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, numquam?</h3>
                        </div>
                    </div></a>
                </div>

                <div class="dropdown-content">
                    <h2>Trending Blogs</h2>
                    <a href="#"><div class="nav-blog">
                        <img src="../../static/images/Ariba Agrifarm.jpg" alt="">
                        <div class="nav-blog-content">
                            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, numquam?</h3>
                        </div>
                    </div></a>

                    <a href="#"><div class="nav-blog">
                        <img src="../../static/images/Ariba Agrifarm.jpg" alt="">
                        <div class="nav-blog-content">
                            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, numquam?</h3>
                        </div>
                    </div></a>

                    <a href="#"><div class="nav-blog">
                        <img src="../../static/images/Ariba Agrifarm.jpg" alt="">
                        <div class="nav-blog-content">
                            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, numquam?</h3>
                        </div>
                    </div></a>
                </div>

                <div class="dropdown-content">
                    <h2>Featured Blogs</h2>
                    <a href="#"><div class="nav-blog">
                        <img src="../../static/images/Ariba Agrifarm.jpg" alt="">
                        <div class="nav-blog-content">
                            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, numquam?</h3>
                        </div>
                    </div></a>

                    <a href="#"><div class="nav-blog">
                        <img src="../../static/images/Ariba Agrifarm.jpg" alt="">
                        <div class="nav-blog-content">
                            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, numquam?</h3>
                        </div>
                    </div></a>

                    <a href="#"><div class="nav-blog">
                        <img src="../../static/images/Ariba Agrifarm.jpg" alt="">
                        <div class="nav-blog-content">
                            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, numquam?</h3>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
    
        <div class="footer">
            <footer>
                <ul class="foot-items">
                    <li><h2>Categories</h2></li>
                    <li><a href="/blogs">All Blogs</a></li>
                    <li><a href="/category">Trending Blogs</a></li>
                    <li><a href="/blog">Latest Blogs</a></li>
                    <li><a href="/blog">Contact</a></li>
                </ul>
    
                <ul class="foot-items">
                    <li><h2>Support</h2></li>
                    <li><a href="/blogs">Contact</a></li>
                    <li><a href="/category">About Author</a></li>
                    <li><a href="/blog">Privecy Policy</a></li>
                    <li><a href="/blog">Terms & Conditions</a></li>
    
                </ul>
    
                <ul class="foot-items">
                    <li><h2>Follow Me</h2></li>
                    <li><a href="/blogs">Twitter</a></li>
                    <li><a href="/category">Linkedin</a></li>
                    <li><a href="/blog">Reddit</a></li>
                    <li><a href="/blog">Medium</a></li>
                </ul>
                
                <ul class="foot-items">
                    <li><h2>Get Updates</h2></li>
                    <li><p>Subscribe to my blogs to get regular updates of my newly written blogs and articles.</p></li>
                    <li>
                        <form action="">
                            <input type="email" placeholder="Enter your email" required>
                            <button type="submit">Subscribe</button>
                        </form>
                    </li>
                </ul>
            </footer>
        </div>
    </div>
    
    <script src="../../static/js/blog_app.js"></script>
</body>
</html>