{% extends 'hobby_app/hoobby_base.html' %}
{% load static %}

{% block title %}Products{% endblock %}

{% block content %}
        <div class="hobby-container">
            <div class="cards-header">
                <h1>All Products</h1>
                <div class="search-bar">
                    <input type="text" placeholder="Search Proudcts Here">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="cards-header-options">
                    <div class="cards-categories">
                        <button class="filled-btn category-toggle-btn" onclick="toggleCategoryDropdown()">Product Categories<i class="fa-solid fa-caret-down"></i></button>
                        <div class="categories-item" id="categories-item">
                            <ul>
                                <li class="category active" onclick="toggleCategory(this)">All Books</li>
                                <li class="category" onclick="toggleCategory(this)">DIY Proudcts</li>
                                <li class="category" onclick="toggleCategory(this)">Books</li>
                                <li class="category" onclick="toggleCategory(this)">Cutomised Products</li>
                                <li class="category" onclick="toggleCategory(this)">gadgets</li>
                                <li class="category" onclick="toggleCategory(this)">Other Proudcts</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="cards-sort">
                        <button class="filled-btn" id="sort-button" onclick="toggleDropdown()">Sort Proudcts<i class="fa-solid fa-caret-down"></i></button>
                        <div class="sort-items" id="sort-items">
                            <ul>
                                <li onclick="changeSortOption(this)">Latest Products</li>
                                <li onclick="changeSortOption(this)">Oldest Products</li>
                                <li onclick="changeSortOption(this)">Popular Products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-container">
                <div class="product-card card">
                    <div class="header">
                        <img src="../../static/images/user1.jpeg" alt="">
                    </div>
                    <div class="footer">
                        <div class="name-price">
                            <h2 class="Name">Name Products Card Design</h2>
                            <img src="../../static/images/like.png" alt="" height="30px">
                        </div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, natus in, harum expedita non minus sapiente rerum laborum nulla nesciunt officia deserunt, voluptatibus molestiae voluptatum a. Voluptatem quibusdam molestias vel.</p>
                        <div class="product-price">
                            <h2>$59.99</h2>
                            <h2 class="Not-Price">$59.99</h2>
                        </div>
                        <div class="product-btns">
                            <button class="outline-btn">ADD TO CART</button>
                            <button class="outline-btn">BUY IT NOW</button>
                        </div>
                    </div>          
                </div>
        
                <div class="product-card card">
                    <div class="header">
                        <img src="../../static/images/user1.jpeg" alt="">
                    </div>
                    <div class="footer">
                        <div class="name-price">
                            <h2 class="Name">Name Products Card Design</h2>
                            <img src="../../static/images/like.png" alt="" height="30px">
                        </div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, natus in, harum expedita non minus sapiente rerum laborum nulla nesciunt officia deserunt, voluptatibus molestiae voluptatum a. Voluptatem quibusdam molestias vel.</p>
                        <div class="product-price">
                            <h2>$59.99</h2>
                            <h2 class="Not-Price">$59.99</h2>
                        </div>
                        <div class="product-btns">
                            <button class="outline-btn">ADD TO CART</button>
                            <button class="outline-btn">BUY IT NOW</button>
                        </div>
                    </div>          
                </div>
        
                <div class="product-card card">
                    <div class="header">
                        <img src="../../static/images/user1.jpeg" alt="">
                    </div>
                    <div class="footer">
                        <div class="name-price">
                            <h2 class="Name">Name Products Card Design</h2>
                            <img src="../../static/images/like.png" alt="" height="30px">
                        </div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, natus in, harum expedita non minus sapiente rerum laborum nulla nesciunt officia deserunt, voluptatibus molestiae voluptatum a. Voluptatem quibusdam molestias vel.</p>
                        <div class="product-price">
                            <h2>$59.99</h2>
                            <h2 class="Not-Price">$59.99</h2>
                        </div>
                        <div class="product-btns">
                            <button class="outline-btn">ADD TO CART</button>
                            <button class="outline-btn">BUY IT NOW</button>
                        </div>
                    </div>          
                </div>
            </div>
        </div>
{% endblock %}
