/* Experience Card Styles */
.exp-card {
    background-color: var(--card-color);
    max-width: 1300px;
    min-width: 300px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    color: var(--main-text-color);
    padding: 25px;
    border: 3px solid var(--card-outline-color);
}

.exp-card:hover {
    background: linear-gradient(145deg, var(--link-hover-color), var(--card-outline-color));
    transition: 0.3s;
    cursor: pointer;
}

.exp-card .top-content {
    display: flex;
    align-items: start; /* Align everything to the top */
    justify-content: space-between;
    gap: 25px;
    flex-wrap: nowrap; /* Prevent wrapping */
    margin-bottom: 20px; /* Space between top content and paragraph */
}

.exp-card .top-content img {
    flex-shrink: 0; /* Prevents the image from resizing */
    width: 100%;
    max-width: 300px;
    min-width: 100px;
    height: 50px;
    object-fit: contain;
    align-items: start;
    justify-content: start;
}

.exp-card .top-content h2 {
    flex-grow: 1;
    font-size: 32px;
    font-family: var(--secondary-font);
    color: var(--main-text-color);
    letter-spacing: 2px;
    margin: 0;
    flex-grow: 1; 
}

.exp-card .top-content .date {
    text-align: left;
    font-size: 18px;
    font-family: var(--secondary-font);
    color: var(--secondary-text-color);
    font-weight: 700;
    min-width: 150px;
    margin-left: auto; 
}

.exp-content p {
    font-size: 18px;
    font-family: var(--secondary-font);
    color: var(--secondary-text-color);
    text-align: justify;
}

@media screen and (max-width: 1000px) {
    .exp-card {
        width: 100%;
    }

    .exp-card .top-content {
        flex-wrap: wrap; /* Allow wrapping */
    }

    .exp-card .top-content .date {
        display: flex;
        align-items: center;
        gap: 15px;
        text-align: center;
    }
    
}

@media (max-width: 600px) {
    .exp-card {
        padding: 15px;
    }

    .exp-card .top-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .exp-card .top-content img {
        max-width: 200px;
    }

    .exp-card .top-content h2 {
        font-size: 24px;
    }

    .exp-card .top-content .date {
        text-align: center;
        font-size: 16px;
    }

    .exp-content p {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .exp-card .top-content img {
        max-width: 170px;
    }

    .exp-card .top-content h2 {
        font-size: 20px;
    }

    .exp-card .top-content .date {
        font-size: 14px;
    }

    .exp-content p {
        font-size: 14px;
    }
}