/* Home Page Styles */
.portfolio-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.portfolio-container .portfolio-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 25px;
    text-align: left;
}

.portfolio-header p {
    font-size: 30px;
    color: var(--paragraph-color);
    text-align: left;
}

.portfolio-header .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.portfolio-header .head h1 {
    font-family: var(--font-heading);
    font-size: 50px;
    letter-spacing: 3px;
    text-align: left;
    color: var(--subheading-color);
}

.portfolio-header .head h1 span {
    color: var(--heading-color);
    font-family: var(--font-heading);
    font-size: 50px;
    letter-spacing: 3px;
    text-align: left;
}

.head a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: all 0.3s ease;
    
}

.head a img {
    width: 25px;
    height: auto;
    margin-left: 10px;
    transition: transform 0.3s ease;
    filter: invert(1);
}

.head a:hover img {
    transform: translateX(5px);
}

/* Home Section Styles */
.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 50px;
}

.home-content {
    width: 50%;
}
.home-content p:first-child {
    font-size: 25px;
    letter-spacing: 1px;
    margin: 0;
    color: var(--secondary-text-color);
    font-family: var(--secondary-font);
}

.home-content h1 {
    color: var(--heading-color);
    letter-spacing: 3px;
    font-size: 80px;
    font-family: var(--font-heading);
    font-weight:900;
}

.home-content h4 {
    font-size: 40px;
    color: #ffffff;
    margin: 5px 0;
    font-family: var(--secondary-font);
}

#skill-text {
    font-weight: 900;
    font-size: 45px;
    color: var(--warning-color);
    font-family: var(--font-subheading);
}

.home-content p:nth-child(4) {
    font-size: 25px;
    margin: 20px 0;
    color: var(--paragraph-color);
    font-family: var(--secondary-font);
}

.home-btns {
    display: flex;
    gap: 50px;
    margin-top: 10px;
    background-color: transparent;
}

.home-container .success {
    width: fit-content;
    display: flex;
    gap: 20px;
    background-color: transparent;
}

.home-container .success .success-card {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.home-container .success .success-card img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.home-container .success .success-card p {
    font-size: 25px;
    color: var(--secondary-text-color);
    font-family: var(--secondary-font);
}

.home-hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.home-hero-image img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .home-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .home-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .home-content h1 {
        font-size: 65px;
        line-height: 1.2;
    }

    .home-content h4 {
        font-size: 30px;
    }

    .home-hero-image {
        width: 100%;
        height: 100%;
    }

    .home-hero-image img {
        width: 100%;
        height: auto;
        
    }

    .home-btns {
        gap: 20px;
    }
    
    #skill-text {
        font-size: 35px;
    }
    .home-content p:nth-child(4) {
        font-size: 25px;
    }

    .home-content p:first-child {
        font-size: 25px;
    }

    .portfolio-header .head h1 {
        font-size: 35px;
    }

    .portfolio-header .head h1 span {
        font-size: 35px;
    }
    .portfolio-header p {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .home-content h1 {
        font-size: 35px;
    }

    .home-content h4 {
        font-size: 22px;
    }

    .home-content p:nth-child(4) {
        font-size: 18px;
    }

    .home-content p:first-child {
        font-size: 18px;
    }

    .home-btns {
        gap: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    #skill-text {
        font-size: 26px;
    }
    
    .portfolio-header .head h1 {
        font-size: 30px;
    }

    .portfolio-header .head h1 span {
        font-size: 27px;
    }
    
    .portfolio-header p {
        font-size: 16px;
        text-align: center;
    }

    .home-container .success {
        align-items: center;
        gap: 10px;
    }

    .home-container .success .success-card {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    .home-container .success .success-card p {
        font-size: 16px;
        text-align: left;
    }
    .home-container .success .success-card img {
        width: 30px;
        height: 30px;
    }
    
}