:root {
    --background-color: #001327;
    --outline-color: #003d73;
    --card-color: #004d7d;
    --card-outline-color: #007da7a4;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --success-color: #28a745;
    --heading-color: #0084ff;
    --subheading-color: #ffffff;
    --paragraph-color: #b0b0b0;
    --text-color: #d5d5d5;
    --text-secondary-color: #c6c6c6;
    --text-accent-color: #6a53ff;
    --link-color: #439eff;
    --link-hover-color: #056edf;

    --font-genral: "Alumni Sans", sans-serif;
    --font-special: "Josefin Slab", serif;
    --font-heading: "Abril Fatface", sans-serif;
    --font-subheading: "Agu Display", sans-serif;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 10px; ;
    box-sizing: border-box;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.view-all-btn {
    border-radius: 20px; /* Adjust as needed */
    padding: 10px 20px;
    border: none;
    background-color: #fdfeff;
    color: rgb(50, 50, 50);
    cursor: pointer;
    font-size: 16px;
}

.view-all-btn:hover {
    background-color: #dedede;
    transition: background 0.3s;
    transform: scale(1.05);
}

.contect-btn {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;

}

.download-btn {
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    cursor: pointer;
    width: fit-content;
    padding: 5px 12px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
}

.download-btn:hover {
    transform: scale(1.05);
    transition: background 0.3s;
}

.view-btn {
    background-color: var(--card-color);
    color: var(--subheading-color);
    border: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    opacity: 0.9;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: 1px;
}

.view-btn:hover {
    background: linear-gradient(145deg, var(--link-hover-color), var(--card-outline-color));
    transition: background 0.9s;
    cursor: pointer;
}

.detail-btn {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.subscribe-btn {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.purchase-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}


.main-container {
    max-width: 1300px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 425px) {
    .main-container {
        margin: 0 auto;
        width: calc(100% - 0px);
    }

    .download-btn {
        padding: 4px 10px;
        font-size: 14px;
    }
    
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    max-width: 1300px;
    width: 100%;
    padding: 0;
    gap: 50px;
    margin: 20px 0;
}


/* Cards Header Start Ffom here  */
.cards-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    color: var(--main-text-color);
    width: 100%;
}


.cards-header .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--card-color);
    padding: 8px 15px;
    border-radius: 12px;
    width: 100%;
}

.cards-header .search-bar input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--secondary-font);
    color: var(--subheading-color);
    letter-spacing: 2px;
}

.cards-header .search-bar input::placeholder {
    color: var(--subheading-color);
}

.cards-header .search-bar button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}

.cards-header .search-bar button img {
    width: 20px;
    filter: invert(1);
}

.cards-header .search-bar button:hover {
    transform: scale(0.9);
    transition: transform 0.3s;
}

.cards-header h1 {
    font-size: 50px;
    letter-spacing: 3px;
    color: var(--heading-color);
    font-family: var(--font-heading);
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.cards-header p {
    font-size: 25px;
    font-family: var(--font-genral);
    color: var(--text-color);
    padding-bottom: 25px;
    text-align: center;
}

/* Styling for categories */
.cards-sorting {
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 20px;
    border-top: solid 2px var(--card-color);
    padding-top: 30px;
    width: 100%;
}
.cards-categories {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.cards-categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;

}

.cards-categories .category {
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: var(--font-genral);
    font-size: 20px;
    font-family: var(--font-genral);
    color: var(--subheading-color);
    letter-spacing: 2px;
}

.cards-categories .category.active {
    background-color: var(--card-color);
    color: var(--subheading-color);
}

.cards-categories .category.active:hover {
    background: linear-gradient(145deg, var(--link-hover-color), var(--card-outline-color));
    color: var(--subheading-color);
}

.cards-categories .category:hover {
    background-color: var(--card-color);
    color: var(--subheading-color);
}

.cards-sort {
    position: relative;
    width: 15%;
    display: flex;
    justify-content: end;
    align-items: top;
}

.sort-items {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: var(--card-color);
    border-radius: 10px;
    z-index: 1;
    width: fit-content;
    padding: 10px;
    }

.sort-items ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    text-align: end;
}

.sort-items ul li {
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: var(--font-genral);
    width: 100%;
    color: var(--subheading-color);
    font-size: 20px;
    border-bottom: var(--heading-color) 1px solid;
}

.sort-items ul li:hover {
    background-color: var(--heading-color);
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}