/* Define root variables for colors and fonts */
:root {
    /* Color definitions */
    --main-bg-color-1: #000000;
    --main-bg-color-2: #0d0536;
    --card-bg-color-1: #001530;
    --card-bg-color-2: #0c1134;
    --main-outline-color: #022249;
    --card-outline-color: #082448;
    --heading-text-color: #ffffff;
    --main-text-color: #dddddd;
    --secondary-text-color: #92a8c0;
    --text-hover-color: #e0dd03;
    /* Font definitions */
    --heading-font: 'Jersey 10', sans-serif;
    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

/* CSS for Main Page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body {
    background: var(--main-bg-color-1);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    
}

.main-container {
    max-width: 1280px;
    width: 100%;
    margin: 0px 15px;
}


/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-top: 30px;
    position: sticky;
    width: 100%;
    border-bottom: solid 2px var(--card-outline-color);
}

.navbar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo .logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
}

.logo .logo-img a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: var(--heading-text-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}
.logo .logo-img a img {
    max-width: 40px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-right: 20px;

}

.hamburger img {
    width: 25px;
    filter: invert(1);
}

.hamburger .hemburger-menu {
    display: none;
    width: 125px;
    background: var(--card-outline-color);
    position: absolute;
    top: 60px;
    padding: 5px 10px;
    border-radius: 10px;
}

.hamburger .hemburger-menu a {
    display: block;
    text-decoration: none;
    color: var(--heading-text-color);
    font-family: var(--main-font);
    font-size: 15px;
    margin: 10px 0;
}

.hamburger .hemburger-menu a:hover {
    color: var(--text-hover-color);
}

.navbar .nav-items a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--heading-text-color);
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 500;
}

.navbar .nav-items a:hover {
    color: var(--text-hover-color);
    border-bottom: solid 1px var(--text-hover-color);
    padding-bottom: 5px;
}

/* Popup Styling */
.navbar .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    max-width: 600px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 400px;
    border: none;
}


/* Footer Styles */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 30px;
}

.footer h1 {
    font-size: 75px;
    margin-bottom: 20px;
    font-family: var(--heading-font);
    color: var(--heading-text-color);
    letter-spacing: 4px;
}

.footer-nav {
    width: 100%;
    display: flex;
    grid-template-columns: repeat(auto-fit);
    justify-content: space-between;
    align-items: start;
    border-top: solid 2px var(--card-outline-color);
    padding-top: 20px;
}

.navigaiton-items {
    display: flex;
    flex-direction: column;
}

.foot-nav-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.foot-nav-head img {
    width: 20px;
    display: none;
    cursor: pointer;
}


.foot-nav-head h3 {
    font-family: var(--main-font);
    color: var(--main-text-color);
    font-size: 22px;
}

.navigaiton-items ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigaiton-items ul.active {
    display: block; /* Show when active */
}

.navigaiton-items ul li a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-family: var(--main-font);
    font-size: 18px;
    margin-bottom: 10px;
}

.navigaiton-items a:hover {
    color: var(--text-hover-color);
}

.copyright-items {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 2px var(--card-outline-color);
    padding-top: 10px;
}

.copyright-items p {
    font-family: var(--main-font);
    color: var(--main-text-color);
    font-size: 16px;
    margin-top: 10px;
}

.copyright-items a {
    text-decoration: none;
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 16px;
    margin-top: 10px;
}

/* CSS for Responsive Footer Page */
@media screen and (max-width: 1024px) {
    .main-container {
        margin-left: px;
        margin-right: 14px;
    } 
}

@media  screen and (max-width: 768px) {
    .main-container {
        margin-left: 12px;
        margin-right: 12px;
    }

    .navbar .logo img {
        max-width: 100px;
    }

    .footer h1 {
        font-size: 50px;
    }

    .navbar .hamburger {
        display: flex;
    }

    .navbar .nav-items {
        display: none;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
    }

    .navigaiton-items {
        width: 100%;
    }

    .footer-nav .foot-nav-head {
        display: flex;
        justify-content: space-between; /* Pushes the image to the end */
        align-items: center; /* Aligns the heading and image vertically */
    }

    .foot-nav-head img {
        display: inline-block;
    }

    .navigaiton-items ul {
        display: none;
    }


    .copyright-items {
        flex-direction: column;
        align-items: center;
    }
    
}

@media  screen and (max-width: 420px) {
    .main-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar .logo img {
        max-width: 80px;
    }

    .footer h1 {
        font-size: 35px;
    }

    .navigaiton-items h3 {
        font-size: 14px;
    }

    .navigaiton-items ul li a {
        font-size: 12px;
    }

    .copyright-items p {
        font-size: 14px;
    }

    .copyright-items a {
        font-size: 14px;
    };
}